name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a one-line script
        run: echo Hello, world!
      - name: check parameter1
        run: |
          pwd
          id
          hostname
          ls -la
          printenv

  WorkAction:
    needs: build
    uses: ./.github/workflows/workflow.yml
    with:
      root_requirements: true

  Check:
    runs-on: ubuntu-latest
    needs: WorkAction
    steps:
      - name: check file and parameter
        run: |
          pwd
          id
          hostname
          ls -la
          printenv
