name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a one-line script
        run: echo Hello, world!
      - name: check parameter1
        run: |
          pwd
          id
          hostname
          ls -la
          printenv

  Check:
    runs-on: ubuntu-latest
    steps:
      - name: check file and parameter
        run: |
          pwd
          id
          hostname
          ls -la
          printenv
          echo c3 > ccc.txt
      - uses: actions/upload-artifact@v4
        with:
          name: myartifact
          path: ccc.txt

  WorkAction:
    uses: ./.github/workflows/workflow.yml
    with:
      root_requirements: true
      artifact_name: myartifact
      artifact_path: "hoge/garu"
  
