---
name: workflow test
on:
  workflow_call:
    inputs:
      root_requirements:
        description: Is file in the root directory?
        required: false
        type: boolean
        default: false
      artifact_name:
        description: artifact_name
        required: false
        type: string
        default: ""
      artifact_path:
        description: artifact_path
        required: false
        type: string
        default: ""

jobs:
  test:
    name: Workflow test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Inputs test
        if: ${{ inputs.root_requirements }}
        run: |
          echo "root OK"
      - name: make ccc.txt
        run: |
          pwd
          id
          hostname
          ls -la
          printenv
      - uses: actions/download-artifact@v4
        if: ${{ inputs.artifact_name }}
        with:
          name: ${{ inputs.artifact_name }}
          path: ${{ inputs.artifact_path }}
      - name: file exist
        run: |
          ls -la
          ls -la hoge/garu
