---
name: workflow test
on:
  workflow_call:
    inputs:
      root_requirements:
        description: Is file in the root directory?
        required: false
        type: boolean
        default: false
      hoge:
        description: hogehoge
        required: false
        type: boolean
        default: false

jobs:
  test:
    name: Workflow test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Inputs test
        if: ${{ inputs.root_requirements }}
        run: |
          echo "root OK"
      - name: hoge test
        if: ${{ inputs.hoge }} == false
        run: |
          echo "hoge OK"
      - name: make ccc.txt
        run: |
          pwd
          id
          hostname
          ls -la
          printenv
          echo c3 > ccc.txt
          echo "make new ccc.txt"
          ls -la
          
