---
name: workflow test
on:
  workflow_call:
    inputs:
      project-dir:
        description: 'project directory'
        required: true
        type: string
      jfrog_url:
        description: Artifactory URL for PyPi
        required: false
        type: string
        default: "yolabs.jfrog.io/artifactory/api/pypi/pypi/simple"
      root_requirements:
        description: Is file in the root directory?
        required: false
        type: boolean
        default: false
      hoge:
        description: hogehoge
        required: false
        type: boolean
        default: false

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - name: Inputs test
        if: ${{ inputs.root_requirements }}
        run: |
          echo "root OK"
      - name: hoge test
        if: ${{ inputs.hoge }}
        run: |
          echo "hoge OK"
